{:default_source "card_18pId1ClMku13QIammYyget7",
 :description nil,
 :email "p3@p.com",
 :delinquent false,
 :account_balance 0,
 :sources
 {:object "list",
  :data
  [{:address_line1_check "pass",
    :address_state "NC",
    :dynamic_last4 nil,
    :address_zip_check "pass",
    :tokenization_method nil,
    :exp_year 2019,
    :name "Paul R Evans",
    :cvc_check "pass",
    :last4 "4242",
    :brand "Visa",
    :customer "cus_97XiIZ1lo3QrPd",
    :address_country "United States",
    :funding "credit",
    :address_line2 nil,
    :id "card_18pId1ClMku13QIammYyget7",
    :address_zip "28277",
    :address_line1 "10428 Alvarado Way",
    :exp_month 9,
    :country "US",
    :metadata {},
    :object "card",
    :fingerprint "hKX7zb8yYvbVGTw1",
    :address_city "Charlotte"}],
  :has_more false,
  :total_count 1,
  :url "/v1/customers/cus_97XiIZ1lo3QrPd/sources"},
 :created 1472826411,
 :subscriptions
 {:object "list",
  :data
  [{:canceled_at nil,
    :application_fee_percent nil,
    :start 1472826411,
    :created 1472826411,
    :current_period_end 1504362411,
    :trial_end nil,
    :customer "cus_97XiIZ1lo3QrPd",
    :ended_at nil,
    :status "active",
    :id "sub_97XiRnajJI8K7A",
    :cancel_at_period_end false,
    :livemode false,
    :quantity 1,
    :trial_start nil,
    :discount nil,
    :plan
    {:amount 1100,
     :name "Riker",
     :created 1471781544,
     :currency "usd",
     :interval_count 1,
     :id "basic",
     :trial_period_days nil,
     :interval "year",
     :livemode false,
     :metadata {},
     :object "plan",
     :statement_descriptor "Riker Fitness App"},
    :current_period_start 1472826411,
    :metadata {},
    :object "subscription",
    :tax_percent nil}],
  :has_more false,
  :total_count 1,
  :url "/v1/customers/cus_97XiIZ1lo3QrPd/subscriptions"},
 :currency "usd",
 :id "cus_97XiIZ1lo3QrPd",
 :livemode false,
 :shipping nil,
 :discount nil,
 :metadata {},
 :object "customer"}
