<!DOCTYPE html>
<html>
  <head>
    <title>Gas Jot - Password Reset</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#0d51a6">
    <link rel="stylesheet" type="text/css" href="/css/jotyourself.css">
    <style type="text/css">
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

form > div {
  clear: both;
  overflow: hidden;
  padding: 1px;
  margin: 0 0 10px 0;
}

form > div > fieldset > div > div {
  margin: 0 0 5px 0;
}

form > div > label,
legend {
  width: 25%;
  float: left;
  padding-right: 10px;
}
form > div > div,
form > div > fieldset > div {
  width: 75%;
  float: right;
}
form > div > fieldset label {
  /*font-size: 90%;*/
}
fieldset {
  border: 0;
  padding: 0;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
  width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
input[type=text],
input[type=email],
input[type=url],
input[type=password] {
  width: 50%;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
  outline: 0;
  border-color: #4697e4;
}

form > div {
  margin: 0 0 15px 0;
}
form > div > label,
legend {
  width: 100%;
  float: none;
  margin: 0 0 5px 0;
}
form > div > div,
form > div > fieldset > div {
  width: 100%;
  float: none;
}
input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea,
select {
  font-size: 1.75em;
  width: 50%;
  border: 1px solid #0D51A6
  /*line-height: 2em;*/
}

input[type=button] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  background-color: #C0C0C0;
}

input[type=button], select {
  width: 15%;
  border: none;
  font-size: 1em;
  height: 2em;
}

@media (max-width: 1000px) {
  input[type=text],
  input[type=email],
  input[type=url],
  input[type=password],
  textarea,
  select {
    width: 100%;
    font-size: 1.5em;
  }

  input[type=button], select {
    width: 40%;
    font-size: 1em;
    height: 2em;
  }
}
    </style>
    <script type="text/javascript">
        function comparePasswordsAndSubmit() {
          var password1 = document.getElementById("pwd-1").value;
          var password2 = document.getElementById("pwd-2").value;
          if (password1 != password2) {
            alert("Passwords do not match.");
          } else {
            document.password_reset_form.submit();
          }
        }
    </script>
  </head>
  <body>
    <div class="baseContent header">
      <img srcset="/gasjot/images/gas-jot-title/gas-jot-title-150.png 2x,
                   /gasjot/images/gas-jot-title/gas-jot-title-200.png 3x"
         src="/gasjot/images/gas-jot-title/gas-jot-title-50.png" />
    </div>
    <div class="baseContent main">
      <h1>Password Reset</h1>
      <p>Use the form below to create a new password.</p>
      <form name="password_reset_form" method="post" action="{{ password-reset-form-action }}">
        <div>
          <label class="desc" for="Field1">New password:</label>
          <div>
            <input id="pwd-1" name="{{ new-password }}" type="password" tabindex="1">
          </div>
        </div>
        <div>
          <label class="desc" for="Field1">Re-enter password:</label>
          <div>
            <input id="pwd-2" type="password" tabindex="2">
          </div>
        </div>
        <div>
        <div>
          <input type="button" onclick="comparePasswordsAndSubmit();" value="Submit">
        </div>
        </div>
      </form>
      <br>
    </div>
    <div class="baseContent footer-bar"></div>
    <div class="baseContent footer">
      <p>Gas Jot is a JotYourself.com application.</p>
    </div>
  </body>
</html>
