<html>
  <body>
    <p>We're just letting you know that your Riker account email and password have been updated.</p>
    <p>Your email has been changed from <strong>{{original-email}}</strong> to: <strong>{{new-email}}</strong></p>
    <p>Regards,<br />
    -The Riker team</p>
  </body>
</html>
