<html>
  <body>
    <p>Your Riker account subscription has been cancelled from within your iTunes account.</p>
    <p>Although your account subscription is cancelled, you can still log in and access your account, and export your sets and body log data.</p>
    <p>You can re-enroll at anytime from any of the Riker apps as well as from Riker's website: <a href="https://www.rikerapp.com">https://www.rikerapp.com</a>.</p>
    <p>Regards,<br />
    -The Riker team</p>
  </body>
</html>
