<html>
  <body>
    <h3>Riker subscription payment failed (final attempt).</h3>
    <p>Unfortunately your most recent invoice payment for ${{ amount-in-usd }} was declined again.</p>
    <p>We regret to inform you that we have cancelled your subscription and closed your account.</p>
    <p>Regards,<br />
    -The Riker team</p>
  </body>
</html>
