<html>
  <body>
    <strong>A new Stripe customer has been created!</strong>
    <ul>
      <li><strong>User email:&nbsp;</strong>{{user-email}}</li>
      <li><strong>Stripe customer ID:&nbsp;</strong>{{stripe-customer-id}}</li>
    </ul>
  </body>
</html>
