<html>
  <body>
    <p>Click the link below to reset your Riker account password.</p>
    <p><a href="{{ password-reset-url }}"></a>{{ password-reset-url }}</p>
    <p>Thank you for using Riker.</p>
    <p>Regards,<br />
    -The Riker team</p>
  </body>
</html>
