<html>
  <body>
    <p>Your Riker subscription has been cancelled.</p>
    <p>You will be receiving a refund in the amount of: <strong>${{refund-amount}}</strong>.</p>
    <p>Please allow 5-10 business days for the refund to process.</p>
    <p>Although your account subscription is cancelled, you can still log in and access your account, and export your sets and body log data.</p>
    <p>You can re-enroll at anytime from any of the Riker apps as well as from Riker's website: <a href="https://www.rikerapp.com">https://www.rikerapp.com</a>.</p>
    <p>Regards,<br />
    -The Riker team</p>
  </body>
</html>
