<html>
  <body>
    <p>Your Riker account subscription has been created!</p>
    <p>With your Riker account, you can keep all of your set and body log data synced to all of your devices.  You can also access your account from the <a href="https://www.rikerapp.com">Riker website</a>.</p>
    <p>You can manage your Riker subscription from your Apple iTunes account.</p>
    <p>Thank you again for using Riker.</p>
    <p>Regards,<br />
    -The Riker team</p>
  </body>
</html>
