<html>
  <body>
    <p>We regret to inform you that your trial period for a Riker account is expired, and your account is now closed.</p>
    <p>You can continue to use the Riker smartphone and tablet apps anonymously, which stores your data locally to your device.</p>
    <p>Riker's export / import functionality can be used to manually backup your data, or transfer it to another device.</p>
    <p>Regards,<br />
    -The Riker team</p>
  </body>
</html>
