<html>
  <body>
    <p>We just wanted to let you know that your Riker trial period will expire soon.</p>
    <p>If you want to continue using Riker after the trial period, you have 2 choices:</p>
    <ol>
      <li>
        <h3>Enroll in a subscription</h3>
        <p>
          A subscription allows you to continue the benefits of having a Riker account, including:
          <ul>
            <li>Safe storage of your data on Riker's servers</li>
            <li>Your Riker data synced and available on all your devices, including the web</li>
            <li>Immediate access to newly added movements and exercises</li>
          </ul>
        <p>The cost is <strong>${{subscription-amount-usd}} per year</strong>.&nbsp;&nbsp;<a href="{{ enrollment-url }}">Click here</a> to enroll.</p>
        </p>
      </li>
      <li>
        <h3>Use Riker app anonymously</h3>
        <p>100% of Riker's features are available in the phone and tablet apps, and those apps store all of your data locally to the device.  If you're comfortable with all of your Riker data being stored on your device, then this may be a viable option for you (and is completely free since the Riker apps are free).</p>
        <p>Riker's export / import functionality can be used to manually backup your data, or transfer it to another device.</p>
      </li>
    </ol>
    <p>Thank you again for using Riker.</p>
    <p>Regards,<br />
    -The Riker team</p>
  </body>
</html>
