<html>
  <body>
    <p>Hello and welcome to Riker!  Please verify your account by clicking
      on the link below.  We do this to ensure that you are the true owner of the
      email address used when creating your account.</p>
    <p><a href="{{ verification-url }}"></a>{{ verification-url }}</p>
    <p>Thank you for using Riker.  We hope you have fun with it.</p>
    <p>Regards,<br />
    -The Riker team</p>
  </body>
</html>
